<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="2000010" id="org.queercon.app" version="2.0.10" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Queercon</name>
    <description>The Official Queercon App</description>
    <author email="appdev@queercon.org" href="http://www.queercon.org">Queercon Handlers</author>
    <content src="index.html" />
    <access origin="https://codepush.azurewebsites.net" />
    <access origin="https://codepush.blob.core.windows.net" />
    <access origin="https://codepushupdates.azureedge.net" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <access origin="http://*" />
    <access origin="https://*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="ShowSplashScreenSpinner" value="1500" />
        <preference name="SplashScreen" value="screen" />
        <preference name="SplashScreenDelay" value="2000" />
        <preference name="FadeSplashScreen" value="flase" />
        <preference name="FadeSplashScreenDuration" value="100" />
        <icon density="ldpi" src="resources/android/icon/ldpi.png" />
        <icon density="mdpi" src="resources/android/icon/mdpi.png" />
        <icon density="hdpi" src="resources/android/icon/hdpi.png" />
        <icon density="xhdpi" src="resources/android/icon/xhdpi.png" />
        <icon density="xxhdpi" src="resources/android/icon/xxhdpi.png" />
        <icon density="xxxhdpi" src="resources/android/icon/xxxhdpi.png" />
        <splash density="land-hdpi" src="resources/android/splash/splash-land-hdpi.png" />
        <splash density="land-ldpi" src="resources/android/splash/splash-land-ldpi.png" />
        <splash density="land-mdpi" src="resources/android/splash/splash-land-mdpi.png" />
        <splash density="land-xhdpi" src="resources/android/splash/splash-land-xhdpi.png" />
        <splash density="port-hdpi" src="resources/android/splash/splash-port-hdpi.png" />
        <splash density="port-ldpi" src="resources/android/splash/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="resources/android/splash/splash-port-mdpi.png" />
        <splash density="port-xhdpi" src="resources/android/splash/splash-port-xhdpi.png" />
        <preference name="APP_SECRET" value="3871ed8a-bacd-4a06-bc9b-8d7a58598af4" />
        <preference name="APPCENTER_APP_SECRET" value="3871ed8a-bacd-4a06-bc9b-8d7a58598af4" />
        <preference name="FIREBASE_SENDER_ID" value="'278964097998'" />
        <preference name="CodePushDeploymentKey" value="qLWMZpKH2vSiODwb1-qHLte__0tyHJLmdPT4M" />
        <resource-file src="google-services.json" target="google-services.json" />
        <resource-file src="resources/android/notification/drawable-hdpi/ic_stat_onesignal_default.png" target="app/src/main/res/drawable-hdpi/ic_stat_onesignal_default.png" />
        <resource-file src="resources/android/notification/drawable-mdpi/ic_stat_onesignal_default.png" target="app/src/main/res/drawable-mdpi/ic_stat_onesignal_default.png" />
        <resource-file src="resources/android/notification/drawable-xhdpi/ic_stat_onesignal_default.png" target="app/src/main/res/drawable-xhdpi/ic_stat_onesignal_default.png" />
        <resource-file src="resources/android/notification/drawable-xxhdpi/ic_stat_onesignal_default.png" target="app/src/main/res/drawable-xxhdpi/ic_stat_onesignal_default.png" />
        <resource-file src="resources/android/notification/drawable-xxxhdpi/ic_stat_onesignal_default.png" target="app/src/main/res/drawable-xxxhdpi/ic_stat_onesignal_default.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="ShowSplashScreenSpinner" value="false" />
        <preference name="SplashScreenDelay" value="1500" />
        <preference name="FadeSplashScreen" value="false" />
        <preference name="FadeSplashScreenDuration" value="100" />
        <icon height="57" src="resources/ios/icon/icon.png" width="57" />
        <icon height="114" src="resources/ios/icon/icon@2x.png" width="114" />
        <icon height="40" src="resources/ios/icon/icon-40.png" width="40" />
        <icon height="80" src="resources/ios/icon/icon-40@2x.png" width="80" />
        <icon height="120" src="resources/ios/icon/icon-40@3x.png" width="120" />
        <icon height="50" src="resources/ios/icon/icon-50.png" width="50" />
        <icon height="100" src="resources/ios/icon/icon-50@2x.png" width="100" />
        <icon height="60" src="resources/ios/icon/icon-60.png" width="60" />
        <icon height="120" src="resources/ios/icon/icon-60@2x.png" width="120" />
        <icon height="180" src="resources/ios/icon/icon-60@3x.png" width="180" />
        <icon height="72" src="resources/ios/icon/icon-72.png" width="72" />
        <icon height="144" src="resources/ios/icon/icon-72@2x.png" width="144" />
        <icon height="76" src="resources/ios/icon/icon-76.png" width="76" />
        <icon height="152" src="resources/ios/icon/icon-76@2x.png" width="152" />
        <icon height="167" src="resources/ios/icon/icon-83.5@2x.png" width="167" />
        <icon height="29" src="resources/ios/icon/icon-small.png" width="29" />
        <icon height="58" src="resources/ios/icon/icon-small@2x.png" width="58" />
        <icon height="87" src="resources/ios/icon/icon-small@3x.png" width="87" />
        <icon height="1024" src="resources/ios/icon/icon-1024.png" width="1024" />
        <splash height="1136" src="resources/ios/splash/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="resources/ios/splash/Default-667h.png" width="750" />
        <splash height="2208" src="resources/ios/splash/Default-736h.png" width="1242" />
        <splash height="1242" src="resources/ios/splash/Default-Landscape-736h.png" width="2208" />
        <splash height="1536" src="resources/ios/splash/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="768" src="resources/ios/splash/Default-Landscape~ipad.png" width="1024" />
        <splash height="2048" src="resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="1024" src="resources/ios/splash/Default-Portrait~ipad.png" width="768" />
        <splash height="960" src="resources/ios/splash/Default@2x~iphone.png" width="640" />
        <splash height="480" src="resources/ios/splash/Default~iphone.png" width="320" />
        <preference name="APP_SECRET" value="f6e72d5a-91ec-4386-854d-13f73fdf5faa" />
        <preference name="APPCENTER_APP_SECRET" value="f6e72d5a-91ec-4386-854d-13f73fdf5faa" />
        <preference name="CodePushDeploymentKey" value="Vfe7GWkriXItBozGs16cj3OAk_MYryWNgXzIz" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.1" />
    <plugin name="cordova-plugin-zip" spec="^3.1.0" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <plugin name="cordova-plugin-ionic-webview" spec="^1.2.1" />
    <plugin name="cordova-plugin-ionic-keyboard" spec="^2.1.2" />
    <plugin name="cordova-plugin-appcenter-analytics" spec="^0.1.5" />
    <plugin name="cordova-plugin-appcenter-crashes" spec="^0.1.5" />
    <plugin name="cordova-plugin-code-push" spec="^1.11.11" />
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <plugin name="cordova-plugin-calendar" spec="^5.1.0">
        <variable name="CALENDAR_USAGE_DESCRIPTION" value="This app will add events to your calendar is you want it" />
    </plugin>
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <plugin name="onesignal-cordova-plugin" spec="^2.4.1" />
    <plugin name="cordova-plugin-x-toast" spec="^2.6.2" />
    <engine name="ios" spec="4.5.4" />
    <engine name="android" spec="7.0.0" />
</widget>
